.body {
    font-family: "Roboto";
    font-style: normal;
}

.container {
    width: 1140px;
    height: 3710px;
    position: relative;
    margin: 0 auto;
    padding: 39px 0 61px 0;
}
.title {
    color: #252525;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

.header {
    width: 1920px;
    height: 800px;
    background: center / cover no-repeat   url(../public/img/bg.png);
}

.logo-wrapper {
    width: 200px; 
    margin: 0 auto;
}

.logo {
    width: 83px;
    height: 71px;
    margin: 0 auto;
}
.dawn {
    position: absolute;
width: 29.99px;
height: 18.99px;
left: 557px;
top: 722px;
}

.logo-text {
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: rgb(247, 244, 244);
    text-align: center;
    text-transform: uppercase;
    margin-top: 17px;
}

.line-left {
    position: absolute;
    width: 292px;
    height: 2px;
    left: 0px;
    top: 282px;

background: #FFFFFF;
}

.line-right {
    position: absolute;
width: 292px;
height: 2px;
left: 841px;
top: 282px;

background: #FFFFFF;
}

.text-izi {
    position: absolute;

height: 50px;
left: 295px;
top: 259px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 80px;
line-height: 80px;

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.text-everyday {
    position: absolute;
    width: 1144px;
    height: 77px;
    left: 3px;
    top: 402px;
    
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

.text-up{
position: absolute;
width: 100%;
height: 41px;
left: 171px;
top: 197.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 41px;
line-height: 41px;


display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #F9BF3B;
}

.text-dawn-centr{
    position: absolute;
width: 100%;
height: 41px;
left: 122px;
top: 338.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 41px;
line-height: 41px;


display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #F9BF3B;

}

.text-dawn{
    position: absolute;
    width: 100%;
    height: 24px;
    left: 448px;
    top: 693.5px;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button{
    position: absolute;
    width: 313px;
    height: 72px;
    left: 413px;
    top: 551px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.intensive{
    position: absolute;
    width: 1922px;
    height: 607px;
    left: 0px;
    top: 802px;
    
    background: #EFEFEF;

}

.text1-s1{
    position: absolute;
    width: 582px;
    height: 23px;
    left: 671px;
    top: 88px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
   
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #252525;
    }

.line-s1{
    position: absolute;
    width: 220px;
    height: 7px;
    left: 851px;
    top: 129px;
    
    background: #F9BF3B;
}

.text2-s1{
    position: absolute;
width: 619px;
height: 20px;
left: 651px;
top: 154.5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 20px;
align-items: center;
text-align: center;
color: #4A4A4A;

}

.w_1{
    position: absolute;
    width: 342px;
    height: 201px;
    left: 400px;
    top: 220px;
    
}
.w_2{
    position: absolute;
    width: 342px;
    height: 201px;
    left: 790px;
    top: 220px;
}

.w_3{
    position: absolute;
    width: 342px;
    height: 201px;
    left: 1180px;
    top: 220px;
}

.text3-s1{
    position: absolute;
    width: 384px;
    height: 43px;
    left: 379px;
    top: 447px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    
    
    
    align-items: center;
    text-align: center;
    
    color: #4A4A4A;
}

.text4-s1{
    position: absolute;
    width: 369px;
    height: 85px;
    left: 776px;
    top: 447px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
 
    
    
    align-items: center;
    text-align: center;
    
    color: #4A4A4A;
    }

.text5-s1{
    position: absolute;
    width: 370px;
    height: 85px;
    left: 1166px;
    top: 447px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    
    
    
    align-items: center;
    text-align: center;
    
    color: #4A4A4A;
  }
