.body {
    font-family: "Roboto";
    font-style: normal;
}

.container {
    width: 1140px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 39px 0 61px 0;
}
.title {
    color: #252525;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

.header {
    width: 1920px;
    height: 800px;
    background: center / cover no-repeat   url(../public/img/bg.png);
}

.logo-wrapper {
    width: 200px; 
    margin: 0 auto;
}

.logo {
    width: 83px;
    height: 71px;
    margin: 0 auto;
}
.dawn {
    position: absolute;
width: 29.99px;
height: 18.99px;
left: 557px;
top: 722px;
}

.logo-text {
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: rgb(247, 244, 244);
    text-align: center;
    text-transform: uppercase;
    margin-top: 17px;
}

.line-left {
    position: absolute;
    width: 292px;
    height: 2px;
    left: 0px;
    top: 282px;

background: #FFFFFF;
}

.line-right {
    position: absolute;
width: 292px;
height: 2px;
left: 841px;
top: 282px;

background: #FFFFFF;
}

.text-izi {
    position: absolute;

height: 50px;
left: 295px;
top: 259px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 80px;
line-height: 80px;

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.text-everyday {
    position: absolute;
    width: 1144px;
    height: 77px;
    left: 3px;
    top: 402px;
    
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

.text-up{
position: absolute;
width: 100%;
height: 41px;
left: 171px;
top: 197.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 41px;
line-height: 41px;


display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #F9BF3B;
}

.text-dawn-centr{
    position: absolute;
width: 100%;
height: 41px;
left: 122px;
top: 338.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 41px;
line-height: 41px;


display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #F9BF3B;

}

.text-dawn{
    position: absolute;
width: 100%;
height: 24px;
left: 448px;
top: 693.5px;


font-style: normal;
font-weight: 100;
font-size: 15px;
line-height: 24px;

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}