.body {
    font-family: "Roboto";
    font-style: normal;
}

.container {
    width: 1140px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 39px 0 61px 0;
}
.title {
    color: #252525;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

.header {
    height: 800px;
    background: center / cover no-repeat   url(../public/img/bg.png);
}

.logo-wrapper {
    width: 200px; 
    margin: 0 auto;
}

.logo {
    width: 83px;
    height: 71px;
    margin: 0 auto;
}

.logo-text {
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: rgb(247, 244, 244);
    text-align: center;
    text-transform: uppercase;
    margin-top: 17px;
}